body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4a6aaa;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(px + 2vmin);
  color: white;
}

.Main-content {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px gray double;
}

span {
  color: #000000;
  margin: 10px 0;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.Сurrent-tasks {
  background-color: #eedf0a;
  min-height: 50vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Done-tasks {
  background-color: #14a558;
  min-height: 50vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Failed-tasks {
  background-color: #c84929;
  min-height: 50vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Add-task {
  display: flex;
  justify-content: space-around;
  min-width: 65vw;
  font-size: large;
}
.Add-task input {
  min-width: 80%;
  font-size: large;
}

.Add-task button {
  background-color: #9ba514;
  border: 1px gray double;
  border-radius: 5px;
  font-size: large;
}

.Add-task button:hover {
  transform: translateY(-1px);
  box-shadow: #aa4a4a;
  background-color: #4aaa52;
}

main div {
  border: #353434 2px solid;
}
